canvas {
	cursor  : crosshair;
	display : block;
	width   : 100%;
	height  : 100%;
	position: relative;
	top     : 0;
	bottom  : 0rem;
	left    : 0;
	right   : 0;
}

input {
	width               : 250px;
	height              : 2rem;
	line-height         : 40px;
	position            : absolute;
	bottom              : 3px;
	left                : calc(50% - 125px);
	background          : none;
	/* color            : white; */
	color               : transparent;
	font-size           : 2rem;
	font-family         : arial;
	text-align          : center;
	/* border           : 1px solid white; */
	border              : none;
	/* background       : rgba(255, 255, 255, 0.2); */
}

input::placeholder {
	border: none;
}

input:focus {
	border: none;
	color : lightgray
}

input:blank {
	border: none;
}

input:placeholder-shown {
	border: none;
}

input:read-write {
	border: none;
}